@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.file-input-label {
    transition:
        background-color 0.2s,
        border-color 0.2s;
}

#process-btn {
    transition:
        background-color 0.2s,
        transform 0.2s;
}
#process-btn:hover {
    transform: translateY(-2px);
}
#process-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: none;
}

.spinner {
    border-top-color: transparent;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#build-warning {
    display: none !important;
}
